$blue: #36A3F1;
$pink: #ED6EBA;
$white: #fff;
$gray: #999999;
$dark-gray: #666666;
$magenta: #A63DD8;
$dark-blue: #3042E9;
$light-blue: #29C9EC;
$yellow: #EAE223;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

a,
button,
input {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 12px;
  color: $blue;
}

.nav-button {
  background-color: $pink;
  color: $white;
  border-radius: 23.5px;
  padding: 8px 20px;
  margin-left: 18px;
}

.hero-section {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.hero-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  width: 100%;
  height: 600px;
  background: linear-gradient(273.54deg, rgba(54, 163, 241, 0.15) 4.36%, rgba(54, 163, 241, 0.15) 4.37%, rgba(54, 163, 241, 0.15) 29.43%, rgba(237, 110, 186, 0.15) 69.8%, rgba(237, 110, 186, 0.15) 98.73%);
}

.wave-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.wave-top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.hero-text-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  height: 600px;
  display: flex;
  align-items: center;
}

.hero-title {
  font-size: 3.2rem;
  text-align: center;
  color: $pink;
}

.hero-text {
  color: $white;
  font-size: 2.2rem;
  text-align: center;
  margin: 5px 0 10px;
}

.btn {
  font-size: 1.8rem;
  color: $pink;
  background-color: transparent;
  border: 3px solid $pink;
  padding: 8px 26px;
  font-weight: 700;
  border-radius: 26.5px;
}

.text-wrapper {
  position: absolute;
  left: 17%;
  transform: translateY(-20%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4.2rem;
  color: $blue;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: $gray;
  margin-bottom: 76px;
  text-align: center;
}

.small-container {
  max-width: 1218px;
  margin: 0 auto;
  padding: 0 20px;
}

.center-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 52px;
}

.item {
  max-width: 250px;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 21px;
}

.first-card {
  background-color: rgba($color: $magenta, $alpha: 0.1);
}

.second-card {
  background-color: rgba($color: $dark-blue, $alpha: 0.1);
}

.third-card {
  background-color: rgba($color: $light-blue, $alpha: 0.15);
}

.item-title {
  font-size: 2.2rem;
  color: $blue;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.info {
  font-weight: 500;
  font-size: 1.4rem;
  color: $gray;
  text-align: center;
}


.bg-blue {
  background-color: rgba($color: $light-blue, $alpha: 0.1);
  position: relative;
  padding: 150px 0;
}

.center-container {
  display: flex;
  align-items: center;
}

.w-700 {
  max-width: 700px;
}

.card {
  max-width: 344px;
  background-color: $white;
  padding: 50px 35px;
  min-height: 453px;
  border-radius: 16px;
  box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

.card-title {
  font-weight: 700;
  font-size: 1.6rem;
  color: $blue;
  margin-bottom: 20px;
}

.icon {
  margin-bottom: 32px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-150 {
  margin-top: 150px;
}

.pt-50 {
  padding-top: 50px;
}

.mb-150 {
  margin-bottom: 150px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 52px;
  gap: 52px;
  list-style: none;
  margin-bottom: 46px;
}

.list-item {
  height: 171px;
  border-radius: 8px;
  width: 276px;
  justify-content: center;
}

.bg-pink {
  background-color: rgba($color: $magenta, $alpha: 0.15);
}

.bg-light-blue {
  background-color: rgba($color: $light-blue, $alpha: 0.2);
}

.bg-purple {
  background-color: rgba($color: $dark-blue, $alpha: 0.15);
}

.bg-yellow {
  background-color: rgba($color: $yellow, $alpha: 0.2);
}

.list-item-title {
  font-size: 2rem;
  font-weight: 700;
  color: $blue;
  margin-bottom: 20px;
}

.list-item-price {
  font-size: 2rem;
  font-weight: 700;
  color: $dark-gray;
}

.btn-lg {
  background-color: $pink;
  padding: 10px 26px;
  font-weight: 700;
  font-size: 1.8rem;
  color: $white;
  border-radius: 23.5px;
  align-self: flex-end;
}

.footer {
  background-color: rgba($color: $pink, $alpha: 8.0);
  position: relative;
  padding: 150px 0 50px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.link-title {
  color: $white;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 2rem;
}

.link-item {
  display: block;
  color: $white;
  font-weight: 500;
  font-size: 1.6rem;

  &+.link-item {
    margin-top: 15px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.social {
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

.social-icon {
  margin-right: 20px;
  margin-bottom: 32px;
}

.rights {
  font-size: 1.6rem;
  color: $white;
  white-space: nowrap;
}

.mt-80 {
  margin-top: 80px;
}